<!DOCTYPE html>
<html lang="vi">
    <%- include('header') %>

    <body data-kt-app-header-stacked="true" data-kt-app-header-primary-enabled="true" class="app-default">
        <!-- Bản quyền thuộc về: https://thegioicode.vn -->
        <div class="d-flex flex-column flex-root app-root">
            <div class="app-page flex-column flex-column-fluid">
                <div class="app-header">
                    <div class="app-header-primary">
                        <div class="app-container container-xxl d-flex align-items-stretch justify-content-between">
                            <div class="d-flex flex-grow-1 flex-lg-grow-0">
                                <div class="d-flex align-items-center me-7">
                                    <a href="/" class="d-flex align-items-center me-lg-20 me-5">
                                        <a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                    </a>
                                </div>
                            </div>

                            <div class="app-navbar flex-shrink-0">
                                <a class="app-navbar-item ms-3 ms-lg-9" href="accounts">
                                    <div class="d-flex align-items-center">
                                        <a class="cursor-pointer symbol symbol symbol-circle symbol-35px symbol-md-40px" href="/menu">
                                            <img class="" src="/images/logo-user.gif" alt="user" />
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-wrapper flex-column flex-row-fluid">
                    <div class="app-container container-xxl d-flex flex-row flex-column-fluid">
                        <div class="app-main flex-column flex-row-fluid">
                            <div class="d-flex flex-column flex-column-fluid">
                                <div class="app-content flex-column-fluid">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-column">
                                                <div class="mb-13 text-center">
                                                    <h1 class="fs-2hx fw-bold mb-5">TOP NGƯỜI DÙNG ĐÃ SỬ DỤNG</h1>
                                                    <div class="text-gray-400 fw-bold fs-5">Cập nhật sau 24h</div>
                                                </div>

                                                <table class="table align-middle border rounded text-center table-row-dashed fs-6 g-5 mb-0">
                                                    <thead>
                                                        <tr class="text-center text-gray-400 fw-bold fs-7 text-uppercase">
                                                            <th class="min-w-100px text-center">TOP</th>
                                                            <th class="min-w-100px text-center">Nickname</th>
                                                            <th class="min-w-100px text-center">Lượt dùng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="fw-semibold text-gray-600">
                                                        <% if (ranks.length > 0) { %> <% ranks.forEach((rank, index) => { %>
                                                        <tr>
                                                            <td><%= index + 1 %></td>
                                                            <td><%= rank.nickname %></td>
                                                            <td><%= rank.amount %> lượt</td>
                                                        </tr>
                                                        <% }); %> <% } else { %>
                                                        <tr>
                                                            <td colspan="2">Không có dữ liệu</td>
                                                        </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-footer">
                    <div class="app-footer-primary">
                        <div class="app-container container-xxl d-flex align-items-stretch justify-content-between">
                            <div class="d-flex flex-column flex-column-fluid">
                                <div class="d-flex flex-grow-1 flex-stack flex-wrap">
                                    <a class="footer-nav-title d-flex flex-column justify-content-center flex-wrap text-center" href="/">
                                        <i class="fa-solid fa-house fs-2 mb-1"></i>
                                        <h1 class="page-heading d-flex font-nav-footer flex-column justify-content-center my-0">
                                            Trang Chủ
                                        </h1>
                                    </a>
                                    <a
                                        class="footer-nav-title d-flex flex-column justify-content-center flex-wrap text-center"
                                        href="/upgrade"
                                    >
                                        <i class="fa-solid fa-arrow-up-from-bracket fs-2 mb-1"></i>
                                        <h1 class="page-heading d-flex font-nav-footer flex-column justify-content-center my-0">
                                            Nâng cấp
                                        </h1>
                                    </a>

                                    <a
                                        class="footer-nav-title d-flex flex-column justify-content-center flex-wrap text-center"
                                        href="/card"
                                    >
                                        <i class="fa-solid fa-money-bill fs-2 mb-1"></i>
                                        <h1 class="page-heading d-flex font-nav-footer flex-column justify-content-center my-0">
                                            Nạp Tiền
                                        </h1>
                                    </a>
                                    <a
                                        class="footer-nav-title d-flex flex-column justify-content-center flex-wrap text-center active"
                                        href="/evaluate"
                                    >
                                        <i class="fa-regular fa-star fs-2 mb-1"></i>
                                        <h1 class="page-heading d-flex font-nav-footer flex-column justify-content-center my-0">TOP</h1>
                                    </a>

                                    <a
                                        class="footer-nav-title d-flex flex-column justify-content-center flex-wrap text-center"
                                        href="/menu"
                                    >
                                        <i class="fa-regular fa-user fs-2 mb-1"></i>
                                        <h1 class="page-heading d-flex font-nav-footer flex-column justify-content-center my-0">
                                            Tài Khoản
                                        </h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        console.log('%cBản quyền thuộc về: https://thegioicode.vn', 'color:green;font-size:14px;font-weight:bold');
    </script>
</html>
