<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>LAYNICK.COM - Lấy lại nick FF bằng UID tự động 100%</title>
    <!-- Bản quyền thuộc về: https://thegioicode.vn -->
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="LAYNICK.COM - Lấy lại nick FF bằng UID tự động 100%" />
    <meta name="description" content="LAYNICK.COM - Lấy lại nick FF bằng UID tự động 100%" />
    <link href="/css/fullcalendar.bundle.css" rel="stylesheet" />
    <link href="/css/datatables.bundle.css" rel="stylesheet" />
    <link href="/css/plugins.bundle.css" rel="stylesheet" />
    <link href="/css/style.bundle.css" rel="stylesheet" />
    <link href="/css/style.custom.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <script rel="stylesheet" src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
