<html lang="vi">
    <head>
        <!-- Bản quyền thuộc về: https://thegioicode.vn -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>NOT FOUND</title>
        <link rel="stylesheet" href="/css/index.css" />
        <meta key="description" name="description" content="NOT FOUND - Trang bạn đang truy cập không tồn tại" />
        <meta key="keywords" name="keywords" content="404, not found" />
        <meta key="og:title" property="og:title" content="NOT FOUND" />
        <meta key="og:type" property="og:type" content="website" />
        <meta key="og:url" property="og:url" content="" />
        <meta key="og:description" property="og:description" content="NOT FOUND - Trang bạn đang truy cập không tồn tại" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />
    </head>
    <body>
        <!-- Bản quyền thuộc về: https://thegioicode.vn -->
        <div class="relative">
            <div class="status code">404</div>
            <div class="status found">NOT FOUND</div>
        </div>
    </body>

    <script>
        console.log('%cBản quyền thuộc về: https://thegioicode.vn', 'color:green;font-size:14px;font-weight:bold');
    </script>
</html>
